<!-- Footer -->
<footer class="navbar navbar-expand-lg text-center navbar-light bg-light">

  <!-- Footer Links -->
  <div class="container text-md">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 text-center mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Enjoy these scrapes?</h5>
         <p class="text-uppercase">leave them comments!</p>

      </div>
      <!-- Grid column -->


    </div>

  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Gerson Cabrera
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->